@import "tailwindcss";

:root {
  --text-color: #442f2b;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@font-face {
  font-family: "ParfumeriScript";
  src: url("./assets/fonts/parfumerie-script-regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewCondensed";
  src: url("./assets/fonts/TimesNewRomanMT-Condensed-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("./assets/fonts/CormorantGaramond-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "TimesNewCondensed", serif;
  font-size: 1.7em;
  line-height: 1.1;
  letter-spacing: -0.07em;
}

h2 {
  font-family: "TimesNewCondensed", serif;
  font-size: 1.2em;
  line-height: 1.1;
  letter-spacing: -0.07em;
}

h3 {
  font-family: "TimesNewCondensed", serif;
  font-size: 0.8em;
  line-height: 1.1;
  letter-spacing: -0.07em;

}

h4 {
  font-family: "TimesNewCondensed", serif;
  font-size: 3.2em;
  line-height: 1.1;
  letter-spacing: -0.07em;

}

h5 {
  font-family: "TimesNewCondensed", serif;
  font-size: 3.2em;
  line-height: 1.1;
  letter-spacing: -0.07em;

}

h6 {
  font-family: "TimesNewCondensed", serif;
  font-size: 3.2em;
  line-height: 1.1;
  letter-spacing: -0.07em;

}

p,
label,
span {
  font-family: "CormorantGaramond", serif;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fbf7f6;
  }
  a:hover {
    color: #f5cbd7;
  }
}
