@import "tailwindcss";

:root {
  --text-color: #442F2B;
}

@font-face {
  font-family: "ParfumeriScript";
  src: url("./assets/fonts/parfumerie-script-regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewCondensed";
  src: url("./assets/fonts/TimesNewRomanMT-Condensed-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("./assets/fonts/CormorantGaramond-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color);
}

h1 {
  font-family: 'TimesNewCondensed', serif;
  line-height: 1.1;
  letter-spacing: -0.07em;
}

h2,
h3 {
  font-family: 'TimesNewCondensed', serif;
  font-size: 3.2em;
  line-height: 1.1;
  letter-spacing: -0.07em;
}

p,
label,
span {
  font-family: "CormorantGaramond", serif;
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.02em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fbf7f6;
  }
  a:hover {
    color: #f5cbd7;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Remove number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}